@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* 16 pix - Tamanho padrão */
   
    width: 1200px;
    margin: auto;
}
.ES {
    text-align: end;
    
}
.pf {
    text-align: end;
    font-family: 'Roboto', sans-serif ;
    
    font-weight: 100;
}
.pr {
    text-align: end;
    font-family: 'Quicksand', sans-serif ;
    font-size: 18px;
}
.pv {
    font-family: 'Seaweed Script', cursive;
    color: #a93983;
    font-size: 72px;
   
}
.pb{
    text-align: center;
    font-weight: 100;
}





